<div class="row columns">
  <button (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>

  <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="What is it that yuo do?" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal">
  <div id="details-container">
    <p *ngFor="let item of items | async">
      <img (click)="borrar()" *ngIf="(user | async)?.uid" src="../assets/images/pin.svg" alt="pin">
      {{item.message}}
    </p>
    
  </div>
  <ul>
    <li *ngFor="let producto of productos | async">{{producto.Nombre}}</li>
  </ul>
</div>
<div>
  <input type="text" id="Nombre" placeholder="Nombre" [(ngModel)]="producto.Nombre">
  <input type="text" id="Cantidad" placeholder="Cantidad" [(ngModel)]="producto.Cantidad">
  <input type="text" id="Precio" placeholder="Precio"  [(ngModel)]="producto.Precio">
  <button (click)="borrar()">Guardar</button>
  <input type="text">
</div>
